@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  height: 100%;
}

main {
  grid-area: main;
}

/* header styles */

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  /* width: 20px; */
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
  border-radius: 5px;
  /* width: 100%; */
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item input,
.mobile-nav__item input{
  padding: 0.15rem 0;
  padding-left: 1.5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;

}

.main-nav__item input:focus,
.mobile-nav__item input:focus{
  outline: none;
}

.main-nav__item label{
  position: absolute;
  left: 1.2rem;
  top: 0.1rem;
}
.mobile-nav__item label{
  position: absolute;
  left: 0.35rem;
  top: 0.1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: flex;
  }
}
/* Footer Styles */
.main-footer {
  width: 100%;
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
/* Mobile Header Styles */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
  position: relative;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
} 

.open {
    display: block !important;
}

@media (min-width: 40rem) {
  .main-footer__link {
    margin: 0 1rem;
  }

  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}

/* Main Styles */

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4.3rem;
}

#slider{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#slider button{
  border: none;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
}
.imageContainer{
  width: 450px;
  height: 450px;
}
#slider img{
  width: 100%;
  height: 450px;
  transition: 1s;
}
@media (max-width: 40rem) {
  .imageContainer{
    width: 350px;
    height: 350px;
  }
  #slider img{
    height: 350px;
  }
}
@media screen and (min-width: 40rem) and (max-width: 49rem) {
  .imageContainer{
    width: 400px;
    height: 400px;
  }
  #slider img{
    height: 400px;
  }
}

.categories{
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
}

.categories__items{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.categories__item > div{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.categories__items img {
  width: 100%;
  height: 100%;
  display: block;
  /* border-radius: 50%; */
  transition: 5s;
}
.categories__items img:hover{
  transform: scale(1.5);
}
@media (max-width: 40rem) {
  .categories__items{
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (min-width: 40rem) and (max-width: 54rem) {
  .categories__items{
    grid-template-columns: repeat(2,1fr);
  }
}

.top-deals{
  text-align: center;
  margin-top: 2.5rem;
}
.top-deals__items{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.top-deals__items__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.top-deals__items__item:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.top-deals__items__item > div {
  height: 250px;
  display: flex;
  overflow: hidden;
}
.top-deals__items__item h2{
  margin: -8px 0;
}
.top-deals__items__item p span{
  text-decoration: line-through;
}

.top-deals__items__item img{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 3s;
}
.top-deals__items__item img:hover{
  transform: scale(0.5);
}

.top-deals__items__item--discount{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  transform: rotate(45deg) translate(3.5rem, -1rem);
  transform-origin: center;
  width: 10rem;
  text-align: center;
}
@media (max-width: 40rem) {
  .top-deals__items{
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media screen and (min-width: 40rem) and (max-width: 54rem) {
  .top-deals__items{
    grid-template-columns: repeat(3,1fr);
  } 
}
    

/* Slider */
.best-seller{
  width: 90vw;
  margin: auto;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-items {
  display: flex;
}

.slider-item {
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-item div{
  height: 250px;
  display: flex;
}
.slider-item img{
  width: 100%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
